@charset "utf-8";
/* CSS Document */

body {
	background: #f5f7fa;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.login-signup {
  font-family: ‘Roboto’, sans-serif !important;

}
.login-signup .login-bg-img img {
	width: 100%;
	height: 100%;
	position: fixed;
  z-index: -1;
}
.login-signup .rec-shap {
	width: 360px;
	margin: 0px auto;
	float: none;
	display: table;
}
.login-signup .loginContainer {
	width: 100%;
	padding: 20px 25px 15px;
	background-color: #fff;
	color: #333;
	border-radius: 6px;
}
.login-signup .loginContainer .form-control {
	color: #495057;
	background-color: #fff;
	border: 1px solid #e2e9ec;
	border-radius: 4px;
	/*box-shadow: 0px 0px 5px 2px #ececec;*/
}
.login-signup .rec-shap label {
	font-size: 14px;
	margin-bottom: 6px;
	color: #b5b6c0;
}
h3.welcome-txt {
	font-size: 28px;
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
	font-style: italic;
}
h5.login-txt {
	text-align: center;
	font-size: 26px;
	padding: 2px 0px 17px 0px;
	font-weight: normal;
	margin-bottom: 25px;
}
.login-signup input[type=checkbox] {
	width: 15px;
	height: 16px;
}
a.new-signup {
	text-align: center;
	display: block;
}
.login-signup a {
	color: #b5b6c0;
	text-decoration: underline;
	font-size: 14px;
	margin-top: 3px;
}
.login-signup a:hover {
	text-decoration: none;
}
.login-signup button.btn {
	background-color: #5d9cec;
    padding: 4px 40px 6px;
    font-size: 20px;
    text-align: center;
    /* margin: 24px auto 21px; */
    /* display: block; */
    /* float: none; */
    color: #fff;
}


/*--Responsive CSS--*/
@media (max-width: 767px) {
.login-signup .rec-shap {
	width: 300px;
	margin: 7% auto 0px;
}
.login-signup .rec-shap label {
	font-size: 15px;
	margin-bottom: 2px;
}
.login-signup a {
	font-size: 15px;
}
}
.center-login {
	width: 360px;
	margin: 7% auto;
}
.error-box{
	background-color: #f55550 !important;
	white-space: nowrap;
}

.navbar-nav.language .show .dropdown-menu {
	left: auto !important;
	right: 0 !important;
  }
  
  .language .dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.52857143;
	color: 
	#5f5f5f;
	white-space: nowrap;
	&:hover{
	text-decoration: none;
	background-color: #f55550;
	}
  }
  .language .dropdown-menu{
  transform: translate3d(0px, 0px, 0px)!important;
  
  }
  
  .language .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #2f3342;
   background-color:#f4f4f4;
  }
  .language .dropdown a:hover{
  text-decoration: none;
  }
  .navbar-nav.language .dropdown a{
	cursor: pointer;
}

