.grey-border {
    border-top: 3px solid #cfdbe2 !important;
    border: 1px solid #cfdbe2;
    border-radius: 3px;
    background-color: white;
}

.custom-class .modal-body {
    background-color: #f5f7fa !important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}

.custom-class .modal-lg {
    max-width: 990px !important;
    margin: auto; 
}

.required {
    color: #5d9cec;
}
.custom-class {
    max-width: 990px !important;
    margin: auto;
}

.section-default {
    padding: 0px 18px;
}

.btn-primary {
    color: #fff;
    background-color: #5d9cec;
    border-color: #5d9cec;
}

.disabled-form-control {
    background-color: #edf1f2;
    opacity: 1;
    cursor: not-allowed;
}

.form-control-readOnly {
    cursor: auto;
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    color: #656565;
    border: none;
    display: block;
    width: 100%;
    padding: 7px 0px 0px 0px !important;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.view-page label {
    font-size: 14px;
    color: #656565;
}

.hide-arrow {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */

.hide-arrow::-ms-expand {
    display: none;
}
.address-edit-field label {
    text-align: left;
}
h3 .small-text {
    display: block;
    font-size: 12px;
    color: #909FA7;
}
h3 {
    color: #515253;
    font-weight: normal;
    font-size: 24px !important;
}
.inactive-button {
    background-color: #e4eaec;
}
.custom-class .modal-body {
    height: 560px !important; 
    overflow-y: auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}
.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
    white-space: -pre-wrap;        /* Opera 4-6 */
    white-space: -o-pre-wrap;      /* Opera 7 */
    white-space: pre-wrap;         /* CSS3 */
    word-wrap: break-word;         /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.height33{
    min-height: 34%;
}

.height100{
    min-height: 100%;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
    margin-right: 7px;
}
.small-text {
    display: block;
    font-size: 12px;
    color: #909FA7;
}

.modal-dialog {
    max-width: 988px;
}

.section-heading {
    text-align: left;
}

.modal-title {
    width:100%;
}