@charset "utf-8";

/* CSS Document */

body {
    background: #f5f7fa;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Source Sans Pro", sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.c-wrapper {
    padding-bottom: 15px;
}

.login-signup {
    font-family: ‘Source Sans Pro’, sans-serif !important;
}

.login-signup .login-bg-img img {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.login-signup .rec-shap {
    width: 360px;
    margin: 0px auto;
    float: none;
    display: table;
}

.login-signup form {
    width: 100%;
    padding: 20px 25px 15px;
    background-color: #fff;
    color: #333;
    border-radius: 6px;
}

.login-signup form .form-control {
    color: #495057;
    background-color: #fff;
    border: 1px solid #e2e9ec;
    border-radius: 4px;
}

.login-signup .rec-shap label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #b5b6c0;
}

h3.welcome-txt {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}

h5.login-txt {
    text-align: center;
    font-size: 26px;
    padding: 2px 0px 17px 0px;
    font-weight: normal;
    margin-bottom: 25px;
}

.login-signup input[type=checkbox] {
    width: 15px;
    height: 16px;
}

a.new-signup {
    text-align: center;
    display: block;
}

.login-signup a {
    color: #b5b6c0;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 3px;
}

.login-signup a:hover {
    text-decoration: none;
}

.login-signup button.btn {
    background-color: #5d9cec;
    padding: 4px 40px 6px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.bluebg {
    background: #5d9cec;
}

.nav-tabs .navborder {
    border: 1px solid #dde7e9;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #edf1f2;
    font-weight: bold;
    color: #515254;
}

.nav-tabs {
    border-bottom: 1px solid #dde7e9;
}

.nav-tabs .navborder {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.btn {
    font-size: 13px;
}

.modal-content .btn {
    font-size: 13px;
}

.table {
    color: #6d6e70;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafbfd !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    border-top: 0px;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
    display: none;
}

table.dataTable thead .sorting_desc::after {
    display: none;
}

table.dataTable thead .sorting {
    background-image: url(assets/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: url(assets/images/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_desc {
    background-image: url(assets/images/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    display: none;
}

.table-icon {
    border: 1px solid #eaeaea;
    padding: 3px 5px;
    text-align: center;
    border-radius: 2px;
    color: #9d9d9d;
}

.form-control {
    font-size: 0.8rem !important;
}

.whitebx {
    background: #fff;
    border-width: 2px 1px 1px 1px;
    border-style: solid;
    border-color: #cedbe3;
    padding: 13px;
}


/*tree checkbox*/

#page-wrap {
    margin: auto 0;
}

.treeview {
    margin: 10px 0 0 0px;
    list-style: none;
    padding: 0px;
    color: #6d6e70;
}

.treeview ul {
    list-style: none;
}

.treeview li {
    padding: 2px 0 2px 0px;
}

.treeview li.last {
    background-position: 0 -1766px;
}

.treeview li>input {
    height: 16px;
    width: 16px;
    /* hide the inputs but keep them in the layout with events (use opacity) */
    opacity: 0;
    filter: alpha(opacity=0);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    /*IE8*/
}

.treeview li>label {
    background: url('assets/images/gr_custom-inputs.png') 0 -1px no-repeat;
    /* move left to cover the original checkbox area */
    margin-left: -20px;
    /* pad the text to make room for image */
    padding-left: 20px;
    height: 20px;
}


/* Unchecked styles */

.treeview .custom-unchecked {
    background-position: 0 -1px;
}

.treeview .custom-unchecked:hover {
    background-position: 0 -21px;
}


/* Checked styles */

.treeview .custom-checked {
    background-position: 0 -81px;
}

.treeview .custom-checked:hover {
    background-position: 0 -101px;
}


/* Indeterminate styles */

.treeview .custom-indeterminate {
    background-position: 0 -141px;
}

.treeview .custom-indeterminate:hover {
    background-position: 0 -121px;
}


/*tree checkbox*/


/*---------------------accordion------------------------*/

.wrapper {
    width: 100%;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 10.5px 15px;
    color: #fff;
    font-size: 12px;
    word-spacing: 3px;
    background: #5d9cec;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
    transition: all 0.5s;
    font-size: 11px;
    font-weight: normal;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}


/*--------------------------accordion---------------------*/

.plus a {
    background: #5d9cec;
    width: 34px;
    position: absolute;
    height: 100%;
    right: -34px;
    top: 0;
    border-left: 1px solid #3886e8;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    &::before{
        display: none !important;
    }
}

.plus2 a {
    width: 34px;
    position: absolute;
    height: 35px;
    right: 0;
    top: 0;
    padding: 7px 10px;
    color: #ccc;
}

.mr-16 {
    margin-right: -16px;
}

.pr-35 {
    padding-right: 35px;
}

.ptop-3 {
    padding: 3px 0px
}

.plus2 a {
    width: 34px;
    position: absolute;
    height: 35px;
    right: 0;
    top: 0;
    padding: 7px 10px;
    color: #ccc;
}

.mr-16 {
    margin-right: -16px;
}

.pr-35 {
    padding-right: 35px;
}

.ptop-3 {
    padding: 3px 0px
}


/*--Responsive CSS--*/

@media (max-width: 767px) {
    .login-signup .rec-shap {
        width: 300px;
        margin: 7% auto 0px;
    }
    .login-signup .rec-shap label {
        font-size: 15px;
        margin-bottom: 2px;
    }
    .login-signup a {
        font-size: 15px;
    }
}

.center-login {
    width: 360px;
    margin: 7% auto;
}

html {
    margin: 0;
    height: 100%;
    background: #f5f7fa;
}

.errorMessage {
    color: #f05050 !important;
    font-size: 12px;
}

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css";
.language {
    position: absolute;
    right: 0;
    top: 0;
    border: 0px;
    margin: 10px 24px 0px 10px;
    font-size: 13px;
    padding: 9px 0px 11px 12px;
    background: 0px;
    width: 55px;
    margin-right: 8%;
}

@media (min-width: 992px) {
    .language {
        margin-right: 1%;
    }
}

@supports (-moz-appearance:none) {
    select {
        -moz-appearance: none !important;
        background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
        background-position: calc(100% - 5px) center !important;
    }
}

.fa-search,
.fa-pencil {
    color: #333333 !important;
}

.fa-search:hover,
.fa-pencil:hover {
    color: #5d9cec !important;
}

.grey-border {
    border-top: 2px solid #cfdbe2 !important;
    border: 1px solid #cfdbe2;
    border-radius: 3px;
    background-color: white;
}

.modal-body {
    border-radius: 5px;
    height: 560px;
    overflow-y: auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    background-color: #f5f7fa!important;
}

.custom-class .modal-lg {
    max-width: 990px !important;
    margin: auto;
}

.custom-class .modal-header {
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}

.required {
    color: #5d9cec;
}

.fontbold {
    font-weight: 600 !important;
    font-family: "Source Sans Pro", sans-serif;
    color: #656565;
    text-align: right;
    line-height: 1.52857143;
}

.section-heading {
    border-bottom: none !important;
    font-size: 14px;
    color: #444;
    background-color: #fff;
    border-color: #cfdbe2;
    padding: 10px 0px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    white-space: nowrap;
}

.custom-class {
    max-width: 990px !important;
    /* 
  */
    overflow: hidden !important;
    margin: auto;
}

.section-default {
    padding: 0px 18px;
}

.btn-primary {
    color: #fff;
    background-color: #5d9cec;
    border-color: #5d9cec;
    margin-left: 6px;
}

.disabled-form-control {
    background-color: #edf1f2;
    opacity: 1;
    cursor: not-allowed;
}

.page-item.active .page-link {
    box-shadow: none;
}

.swal-wide button {
    padding: 7px 19px;
    font-size: 12px !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    min-width: 80px;  
    line-height: 1.6 !important;
}

.form-check {
    position: relative;
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 0px;
}

.mandatory {
    color: red;
}

.error {
    color: red
}

.modal {
    display: block !important;
    /* I added this to see the modal, you don't need this */
}


/* Important part */

.modal-dialog {
    overflow-y: initial !important
}

@import "~@ng-select/ng-select/themes/default.theme.css";
.intoIcon {
    color: #ccc !important;
}

.custom-class-filter .modal-body {
    height: 200px;
    background-color: #fff;
}

.active-status-btn {
    background-color: #27c24c;
    color: #fff;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    border: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

table.dataTable {
    border-bottom: 1px solid #e4eaec !important;
}

table {
    background-color: transparent;
}

body .dataTable:before,
body .dataTable:after {
    content: " ";
    display: table;
}

body .dataTable:after {
    clear: both;
}

table.dataTable thead th {
    text-transform: uppercase;
    white-space: nowrap;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #e4eaec !important;
}

th {
    text-align: left;
}

body table.dataTable tbody tr:nth-child(odd),
body table.dataTable.hover tbody tr:hover,
body table.dataTable.display tbody tr:hover {
    background-color: #fafbfc;
}

body table.dataTable thead th,
body .dataTables_wrapper .dataTables_length,
body .dataTables_wrapper .dataTables_filter,
body .dataTables_wrapper .dataTables_info,
body .dataTables_wrapper .dataTables_processing,
body .dataTables_wrapper .dataTables_paginate {
    color: #888;
}

table.dataTable thead th {
    text-transform: uppercase;
    white-space: nowrap;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #e4eaec !important;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #5d9cec !important;
    color: #fff !important;
    border-color: #5d9cec !important;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #5d9cec !important;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #fff !important;
    border: 1px solid #e4eaec !important;
    margin-left: 0;
    padding: 6px 16px;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #fff !important;
    border: 1px solid #e4eaec !important;
    margin-left: 0;
    padding: 6px 16px;
}

a {
    outline: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-image: none !important;
    background-color: #edf1f2 !important;
    border: 0 !important;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: #656565;
}

.table {
    margin: auto;
    width: calc(100% - 40px);
}

.btn-default {
    border-color: #eaeaea;
}

.btn-sm {
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.intoIcon i:hover {
    color: #b7b7b7;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #66afe9 !important;
    outline: none;
    box-shadow: none !important;
}

.swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #3085d6 !important;
    color: #fff;
    font-size: 1.0625em;
}

.form-control:disabled,
.form-control[readonly]:focus {
    background-color: #e9ecef;
    opacity: 1;
}

.btn {
    box-shadow: none !important;
}

.login-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none !important;
}

.swal2-styled:focus {
    outline: 0;
    box-shadow: none !important;
}

h5 {
    font-size: 24px;
}

.navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.ml-m9 {
    margin-left: -9px !important;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #e4eaec !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0px !important;
}

.panel-body .form-group {
    margin-bottom: 0.4rem !important;
}

.panel-body .form-control {
    border: 1px solid #dde6e9;
}
.custom-control-mb {
    display: block;
    margin-bottom: 7px !important;
}

table.info {
    width: 100%;
    text-align: right;
}

table.info td.name {
    text-align: left;
    font-weight: bold;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px !important;
    position: absolute !important;
    opacity: 0 !important;
    width: 118px;
    height: 34px;
}

.custom-control-label::before {
    width: 1.3rem;
    height: 1.3rem;
}

.custom-control-label::after {
    width: 1.3rem;
    height: 1.3rem;
}

h4 {
    font-size: 18px;
}

.table-link {
    margin: 0 2px;
    cursor: pointer;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: unset;
}

.section-default {
    padding: 10px 18px;
}

.view-page label,
.edit-page label {
    font-size: 14px;
    color: #656565;
    line-height: 1;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.source-image {
    width: 100%;
}

.btn-action {
  min-width: 80px;  
  line-height: 1.6 !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    font-size: 0.8rem !important;
    color: #495057;
    font-weight: normal;
}
.ng-select .ng-select-container {
    border: 1px solid #dde6e9;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0px 15px;
    font-size: 0.8rem !important;
    color: #495057;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    font-size: 0.8rem !important;
    color: #495057;
}

.ng-select .ng-select-container .ng-value-container {
    padding-left: 15px;
}

.ng-select{
    .ng-arrow-wrapper{
        padding-right: 0;
        cursor: default;
        .ng-arrow {
            border-color: #495057 transparent transparent;
            border-width: 6.5px 3px 0;
        } 
    }
} 


.ng-select.ng-select-opened>.ng-select-container .ng-arrow{
    border-width: 0 3px 6.5px;
    border-color: transparent transparent #495057 ;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: DodgerBlue;
    color: #fff
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    background-color: DodgerBlue;
    color: #fff
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: #fff; 
    color: #495057;
    .ng-option-label {
    font-weight: normal;
    }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    padding: 5px 15px;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
    font-size: 0.8rem !important;
    color: #495057;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-left: 15px;
}

.txtLinkImage:invalid {
    border-color: rgba(203,0,2,.8);
    box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(203,0,2,.8);
 }
