
.dataTables_wrapper #table_info {
    display: none;
}

.fa-search,
.fa-pencil {
    color: #333;
}

.btn-default {
    border-color: #eaeaea;
}

.table-link {
    margin: 0 2px;
}

.table thead th {
    border-top: 0px solid #e9ecef !important;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
    display: none;
}

table.dataTable thead .sorting_desc::after {
    display: none;
}

table.dataTable thead span.sort-icon {
   display: inline-block;
   padding-left: 5px;
   width: 16px;
   height: 16px;
 }
 table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
     background-image: none;
 }
 table.dataTable thead .sorting span:after,table.dataTable thead .sorting_asc span:after,table.dataTable thead .sorting_desc span:after{
   font-family: 'FontAwesome';
   margin-left: 7px;
 }

table.dataTable thead .sorting span:after {
   content: "\f0dc";
   text-decoration-color: initial;
}

table.dataTable thead .sorting_asc span:after{
   content: "\f0de";
   color: #5d9cec;
}

table.dataTable thead .sorting_desc span:after{
   content: "\f0dd";
   color: #5d9cec;
}
.marginBottom{
   margin-bottom: 0px!important;
}

tbody{
   word-wrap: break-word;
   white-space: normal;
   word-break: break-word;
}

.tableResponsive{
   -ms-overflow-style:scrollbar; 
}

.img-thumbnail {
    height: 75px;
    width:90px;
}
