.grey-border{
    border-top:3px solid #cfdbe2 !important;
    border: 1px solid #cfdbe2;
    border-radius: 3px;
    background-color: white;
}
.custom-class .modal-body{
   background-color:  #f5f7fa !important;
   font-size: 14px;
   height: 560px !important; 
   overflow-y: auto;
   font-family: "Source Sans Pro", sans-serif;

}
.custom-class .modal-lg{
    max-width:990px !important;
    margin:auto;
}
.required{
    color: #5d9cec;
}
.fontbold {
    font-weight: bold !important;
    font-family: "Source Sans Pro",sans-serif;
    color: #656565;
    text-align: right;
}

.custom-class{
    max-width:990px !important;
    margin:auto;
}
.section-default{
    padding: 0px 18px;
}

.btn-primary {
    color: #fff;
    background-color: #5d9cec;
    border-color: #5d9cec;
}
.disabled-form-control{
    background-color: #edf1f2;
    opacity: 1;
    cursor: not-allowed;
}

.form-control-readOnly{
    cursor: auto;
    font-size: 13px;
    font-family: "Source Sans Pro",sans-serif;
    color: #656565;
    border:none;
    display: block;
    width: 100%;
    padding:7px 0px 0px 0px !important;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.view-page label{
    font-size: 14px;
    color: #656565;
}
.hide-arrow {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
.hide-arrow::-ms-expand {
    display: none;
  }
.address-edit-field label{
    text-align:left;
  }
h3 .small-text{
    display: block;
    font-size: 12px;
    color: #909FA7;
  }
h3{
    color: #515253;
    font-weight:normal;
    font-size:24px !important;
 }
